# IGNORE DATA FOLDERS
templateFixation/data/
templateSameDiff/data/
templateSearch/data/

# IGNORE CONFIG FILES
templateFixation/*.mat
templateSameDiff/sdConditions_cfg2.mat
templateSearch/*.mat

# IGNORING TEMP FILES
*.asv


# Ignoring files in the main folder
*.ffs_db


# test
templateSameDiff/mlLib/ml_loadEvents.m







